@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.profile-image {
    padding: 0;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 3%;
}

#subBtn {
    color: #fff;
    border-color: #fff;
    background-color: #2c2c2c;
}

#subBtn:hover {
    color: #2c2c2c;
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0 0 0 1px #2c2c2c inset;
}